* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6fa;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 240px;
  background-color: #182e47;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 20px;
  margin-bottom: 5px;
}
.subtitle {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 30px;
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 16px;
}

.menu li.active,
.menu li:hover {
  background-color: #2c4a70;
  padding-left: 10px;
  border-radius: 4px;
}

.menu a {
  display: block;
  color: inherit;
}

.dashboard {
  flex: 1;
  padding: 15px;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-bottom:0px;
}
.top-bar h2 {
  margin: 0;
  font-size: 20px;
}
