<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выбор входа</title>
    <link rel="stylesheet" href="Enter.css">
</head>
<body>
    <div class="auth-wrapper">
    <h2>Выберите способ входа</h2>
    <div class="auth-buttons">
      <button onclick="location.href='TO.html'">Продолжить как гость</button>
      <button onclick="location.href='registration.html'">Войти</button>
    </div>
  </div>
</body>
</html>