<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Выбор входа</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Enter.css') }}">
</head>
<body>
  <div class="auth-wrapper">
    <h2>Выберите способ входа</h2>
      <div class="auth-buttons">
        <form action="{{ url_for('client.guest_entry') }}" method="get">
          <button type="submit" class="action-btn">Продолжить как гость</button>
        </form>
        <form action="{{ url_for('client.registration') }}" method="get">
          <button type="submit" class="action-btn">Войти</button>
        </form>
      </div>
<script>
  const errorText = "{{ login_error }}";
  const popup = document.getElementById("loginErrorPopup");

  if (errorText) {
    popup.classList.remove("hidden");
    setTimeout(() => popup.classList.add("hidden"), 3000);
  }
</script>
</body>
</html>